<!DOCTYPE html>
<html>
  <head>
    <title>Project Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='<%= url('/css/styles.css') %>'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
