 <div class="jumbotron">
  <h2>Project Tracker</h2>
  <p class="lead">Track projects and their volunteers</p>
</div>
<h3>Current Projects</h3>
<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no projects to display. </p>
<% end %>
<br>
<div class="form">
  <h5>Create a new project</h5>
  <form action="/projects" method="post">
    <div class="form-group">
      <label for="title">Title:</label>
      <input id="title" name="title" class="form-control" type="text" placeholder="Title" required>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</div>
<br>
<a href="/volunteers">List of all volunteers</a>
<br>


