<h2>List of all volunteers:</h2>
<% if @volunteers.any? %>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><%= volunteer.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no volunteers for this project. </p>
<% end %>
<br>
<p>To add a volunteer, navigate to the project they are working on. Here, there will be a form to add a new volunteer.</p>
<br>
<a href="/" class="btn">Back</a>